.container{
  display: grid ; 
  grid-template-columns: repeat(3 , 32%);
  gap: 15px;
}
.post{
  @apply flex-grow items-center gap-[50px] mb-[50px] rounded-[15px];
  border:1px solid #444;
  transition: all 0.3s ease-in-out;
}
.post:hover{
  @apply bg-black ;
  border: 1px solid #fff;
}
.imageContainer{
  @apply  relative h-[200px];
}
.image{
  @apply object-cover rounded-[15px] ;
}
.content{

}
.title{
  @apply font-[700] text-[30px] mt-[10px] mb-[10px] ;
}
.text{
  @apply text-[18px] text-[#999] mb-[10px];
}